@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;1,300&display=swap');
*{
    font-family: 'Rubik', sans-serif;
}
body{
    margin: 0;
    display: flex;
    flex-direction: column;
}
header{
    display: flex;
    justify-content: space-between;
    background-color: #1F2937;
}
.logo{
    margin-top:32px;
    margin-left: 150px;
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
}
.side-links{
    margin-top:32px;
    margin-right: 150px;
    gap: 16px;
    display: flex;
    font-size: 18px;
    color: #e5e7eb;
}
/*        Section          */
section{
    display: flex;
    flex:1;
    flex-direction: column;
}
/*        Section Page One         */
.one{
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
}
.description{
    display:flex;
    gap: 16px;
    flex-direction: column;
    margin-left: 150px;
    margin-top:32px;
}
.desc-main-text{
    color:#F9FAF8;
    font-size: 48px;
}
.desc-secondary-text{
    width: 600px;
    color: #e5e7eb;
    font-size: 18px;
}
.description button{
    color:#F9FAF8;
    background-color: #3882f6;
    font-size: 20px;
    width: 150px;
    padding: 8px ;
    border-radius: 12px;
    border-color:transparent;
}
.placeholder-image{
    color:#F9FAF8;
    margin-right: 150px;
    margin-top:32px;
    margin-bottom: 72px;
}
.placeholder-image img{
    width: 500px;
    height: auto;
}
/*        Section Page Two          */
.two{
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-top:100px;
    margin-bottom: 125px;
}
.items-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 32px;
}
.information{
    text-align: center;
    font-size: 36px;
    font-weight:bolder;
    color: #1F2937;
}
.items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}
.sub-item{
    height: 150px;
    width: 150px;
    border: 5px solid #3882f6;
    border-radius: 10px;
}
.sub-text{
    width: 175px;
    text-align: center;
    font-size: 18px;
    color: #1F2937;
}
/*        Section Page Three          */
.three{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
    height: 500px;
}
.qoute-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    width: 1000px;
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    color: #1F2937;
}
.author{
    align-self: flex-end;
    color: #1F2937;
    font-weight: bold;
}
/*        Section Page Four          */
.blue-container{
    box-sizing: border-box;
    padding: 48px 128px; 
    justify-content:space-between;
    display: flex;
    background-color: #3882f6;
    margin:100px 150px 100px 150px;
    border-radius: 12px;
}
.container-text{
    display:flex;
    flex-direction: column;
    color:#F9FAF8;
}
.four-header{
    font-weight: bold;
    font-size: 24px;
}
.blue-container button{
    color:#F9FAF8;
    background-color: #3882f6;
    font-size: 20px;
    width: 150px;
    padding: 8px ;
    border-radius: 12px;
    border-color:#F9FAF8;
}
footer{
    height:75px;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: #F9FAF8;
}